body {
  user-select: none;
  overflow-x: hidden;
  background-color: #f8f8f8;
}
// 白色背景
.bg-white, .bgwhite {
  background-color: #fff !important;
}
// 视图页设定
.ex-page {
  min-height: 100vh;
  overflow: hidden;
  background-color: #f8f8f8;
  // 添加这个是为了防止切换PAGE动画抖动 但是会导致fixed定位失效
  // http: //stackoverflow.com/questions/15194313/transform3d-not-working-with-position-fixed-children
  transform: translate3d(0, 0, 0);
  transition-property: transform;
  transition-duration: .3s;

  // 解决margin折叠问题
  &:before {
    clear: both;
    content: "";
    display: table;
  }
  &.view-enter, &.view-leave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}

// transform导致fixed定位失败的问题，见上面解释
.notrans {
  transform: none;
}


// 前进效果
.ahead {
  // 页入
  .view-enter {
    z-index: 2;
    transform: translate3d(100%, 0, 0);

    &.view-enter-active {
      transform: translate3d(0, 0, 0);
    }
  }
  // 页出
  .view-leave {
    z-index: 1;
    transform: translate3d(0, 0, 0);

    &.view-leave-active {
      transform: translate3d(-30%, 0, 0);
    }
  }
}
// 后退效果
.backoff {
  // 页入
  .view-enter {
    z-index: 1;
    transform: translate3d(-30%, 0, 0);

    &.view-enter-active {
      transform: translate3d(0, 0, 0);
    }
  }
  // 页出
  .view-leave {
    z-index: 2;
    transform: translate3d(0, 0, 0);

    &.view-leave-active {
      transform: translate3d(100%, 0, 0);
    }
  }
}
// 旋转木马
.carousel {
  position: relative;
  overflow: hidden;

  .slider {
    position: absolute !important;
    height: 100% !important;
    top: 0;
    bottom: 0;

    .slider-frame {
      height: 100% !important;
    }
    [class^="slider-decorator"] {
      width: 100%;
      bottom: 0;
      top: auto !important;

      nav {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        line-height: normal;

        /*
        a {
          display: inline-block;
          width: 10px;
          height: 10px;
          margin: 0 5px;
          border-radius: 100%;
          vertical-align: middle;
          overflow: hidden;
          border: 1px solid #ff6f21;

          &.active {
            background: #ff6f21;
          }
        }
        */
        a {
          display: inline-block;
          width: 16px;
          height: 2px;
          margin: 0 2px;
          vertical-align: middle;
          overflow: hidden;
          background-color: rgba(255, 255, 255, 0.5);

          &.active {
            background-color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
}
