.list.compact {
  margin-top: -1px
}
// 由于fastclick的原因, 防止无法触发radio || checkbox 的点击事件
.list > label.item > * {
  pointer-events: none;
}
.main.has-footer {
  margin-bottom: 58px;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  &[ui-mode="3"] {
    -webkit-line-clamp: 3;
  }
}
